<form #ClienteForm="ngForm">
  <div>
    <label for="customer_id">Código</label>
    <input type="number" [class.is-invalid]="customer_id.invalid" id="customer_id"
      name="customer_id" [(ngModel)]="vm.Elemento.customer_id" #customer_id="ngModel" placeholder="Código del usuario"
      required>
    <output class="invalid-feedback" [myShowErrors]="customer_id.errors"></output>
    <!-- <app-show-errors-messages [errors]="customer_id.errors"></app-show-errors-messages> -->
  </div>
  <div>
    <label for="store_id">Tienda</label>
    <select id="store_id" name="store_id" [(ngModel)]="vm.Elemento.store_id" #store_id="ngModel">
      <option value="1">Tienda 1</option>
      <option value="2">Tienda 2</option>
    </select>
  </div>
  <div>
    <label for="first_name">Nombre</label>
    <input type="text" [class.is-invalid]="first_name.invalid" id="first_name" name="first_name"
        [(ngModel)]="vm.Elemento.first_name" #first_name="ngModel" required minlength="2" maxlength="50">
    <output class="invalid-feedback" [myShowErrors]="first_name.errors"></output>
    <!-- <app-show-errors-messages [errors]="first_name.errors"></app-show-errors-messages> -->
  </div>
  <div>
    <label for="last_name">Apellidos</label>
    <input type="text" [class.is-invalid]="last_name.invalid" id="last_name" name="last_name"
      [(ngModel)]="vm.Elemento.last_name" #last_name="ngModel" minlength="2" maxlength="50">
    <output class="invalid-feedback" [myShowErrors]="last_name.errors"></output>
    <!-- <app-show-errors-messages [errors]="last_name.errors"></app-show-errors-messages> -->
  </div>
  <div>
    <label for="email">Correo</label>
    <input type="email" [class.is-invalid]="email.invalid" id="email" name="email"
      [(ngModel)]="vm.Elemento.email" #email="ngModel" placeholder="Correo electrónico" required email minlength="3">
    <output class="invalid-feedback" [myShowErrors]="email.errors"></output>
    <!-- <app-show-errors-messages [errors]="email.errors"></app-show-errors-messages> -->
  </div>
  <div>
    <fieldset>
      <legend for="address_id">Dirección</legend>
        <input type="radio" id="address_id1" name="address_id"
          [(ngModel)]="vm.Elemento.address_id" checked value="1">
        <label for="address_id1">Casa</label>
        <input type="radio" id="address_id2" name="address_id"
          [(ngModel)]="vm.Elemento.address_id" checked value="2">
        <label for="address_id2">Trabajo</label>
    </fieldset>
  </div>
  <div>
    <label for="create_date">F. Creación</label>
    <input type="date" [class.is-invalid]="create_date.invalid" id="create_date"
      name="create_date" [(ngModel)]="vm.Elemento.create_date" #create_date="ngModel">
    <output class="invalid-feedback" [myShowErrors]="create_date.errors"></output>
    <!-- <app-show-errors-messages [errors]="create_date.errors"></app-show-errors-messages> -->
  </div>
  <div>
    <label for="last_update">Última modificacion</label>
    <input type="date" [class.is-invalid]="last_update.invalid" id="last_update" name="last_update" [(ngModel)]="vm.Elemento.last_update" #last_update="ngModel" min="2021-11-01">
    <output class="invalid-feedback" [myShowErrors]="last_update.errors"></output>
    <!-- <app-show-errors-messages [errors]="last_update.errors"></app-show-errors-messages> -->
  </div>
  <div>
    <input type="checkbox" id="active" name="active" [(ngModel)]="vm.Elemento.active" value="true" checked>
    <label for="active">Activo</label>
  </div>
  <div>
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" [(ngModel)]="vm.Elemento.edad" #edad="ngModel"
      min="16" max="67">
    <output class="invalid-feedback" [myShowErrors]="edad.errors"></output>
    <!-- <app-show-errors-messages [errors]="edad.errors"></app-show-errors-messages> -->
  </div>
  <div>
    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" [(ngModel)]="vm.Elemento.dni" #dni="ngModel" nif>
    <output class="invalid-feedback" [myShowErrors]="dni.errors"></output>
    <!-- <app-show-errors-messages [errors]="dni.errors"></app-show-errors-messages> -->
  </div>
  <div>
    <app-form-buttons (send)="vm.send()" [send-disabled]="ClienteForm.invalid" (cancel)="vm.cancel()" (delete)="vm.delete()"></app-form-buttons>
  </div>
</form>
