/*aspectos generales: bordes y color de fondo de calculadora*/ 
.calculadora { border: 3px blue ridge; width: 250px;text-align: center;
    background-color: #f6f8d8; }

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/ 					 
#textoPantalla { width: 200px; height: 50px; border: 2px black solid; text-align: right; 
      position: relative;  padding: 0px 5px; margin-left: 10px; margin-right: 10px; margin-top: 5px;
      background-color: white; font-family: "courier new"; 
      overflow: hidden;}

/*botones normales: anchura y margen*/ 
.calculadora button { width: 50px; height: 50px; padding: 0;}

/*botones especiales*/ 
.calculadora .borrar_opc { color: red; width: 75px; }