@import url("variable.css");

.error-msg{
    color: var(--error-color, red);
}

body{
    background-color: var(--principal-background-color, white);
    color: var(--principal-text-color, black);
    margin: 0;
}

.cabezera-principal{
    display: flex;
    background-color: lightskyblue;
    flex-direction: row;
    text-align: center;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}

.cabezera-principal__logo, #logo{
    padding: 10px;
    flex:30%;
    border-radius: 20%;
    max-width: 120px;

}
.cabezera-principal__titulo{
    padding: 10px;
    flex:30%;
}
.cabezera-principal__login{
    text-align: right;
    padding: 10px;
    flex:30%;
}

.menu{
    background-color: lightgreen;
    display:flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.menu a{
    padding: 15px;
    border: red;
    border-style: solid;
    flex: auto;
    font-size: 30px;
    font-family: monospace;
}

.principal{
    display: flex;
    background-color:lightcyan;
    flex-direction: column;
}

.principal__informacion{
    padding: 10px;
    flex-grow: 1;
}

.principal__tabla{
    padding: 10px;
    flex-grow: 1;
}

.principal__galeria{
    padding: 10px;
    flex-grow: 1;
}

p{
    text-transform: uppercase;
}

#tabla{
    max-width: 100% ;
    height: auto ; 
}



h2{
    color: darkolivegreen;
}

img{
    width: 33%;
    height: auto;
    float: left; 
    max-width: 235px;
}

.blur {filter: blur(4px);}
.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px green);}

.form_style{
    margin-left:350px;
    margin-right: 350px;
    background-color: lightgreen;
}

.flex_container{
    display: flex;
    background-color:lightcyan;
    flex-direction: column;
}

.header_cont{
    padding: 10px;
    flex-grow: 1;
}
.nav_cont{
    background-color: lightgreen;
    display:flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.main_cont{
    padding: 10px;
    flex-grow: 1;
}


footer{
    background-color: black;
    color: coral;
}

@media print {
    footer,.cabezera-principal__login, .menu{
        display: none;
    }
}

@media(max-width:320px){
    .header_flexcontainer{
        flex-direction: column;
    }
}

