@import url("variable.css");

.error-msg{
    color: var(--error-color, red);
}

.navflexcontainer{
    background-color: lightgreen;
    display:flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

nav a{
    padding: 15px;
    border: red;
    border-style: dashed;
    flex: auto;
}

.hflexcontainer{
    display: flex;
    background-color: wheat;
    flex-direction: row;
    text-align: center;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flexitem-left{
    padding: 10px;
    flex: 50%;
    width:100px;
    height: 100px;

}
.flexitem-right{
    text-align: center;
    padding: 10px;
    flex: 50%;
}

figcaption{
    font-size: small;
}

@media(max-width:800px){
    .hflexcontainer{
        flex-direction: column;
    }
}

