<h1>Información sobre la pelicula</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <img src="assets/logopeli.png" alt="Foto de {{ VM.Elemento.titulo }}" class="rounded" width="75" height="75"/>
        </div>
        <div class="col-sm-6 col-md-8">
          <p><b>Duracion: </b>{{ VM.Elemento.duracion }}<b> Ultima modificación: </b> {{ VM.Elemento.ultima_actualizacion| date:'yyyy mm dd' }}</p>
          <p><b>Ratio: </b>{{ VM.Elemento.rate }}<b> Coste: </b>{{ VM.Elemento.coste }}</p>
          <p><b>Idioma: </b>{{ VM.Elemento.idioma }}</p>
          <p><b>Lista actores: </b>{{ VM.Elemento.actorespelis }}</p>
          <p><b> Lista categorias: </b>{{ VM.Elemento.categoriaspelis }}</p>
          <p>
            <b>Descripcion: </b>{{ VM.Elemento.descripcion }}
          </p>
          <br>
          <div class="btn-group">
            <input class="btn btn-secondary" type="button" value="Volver" (click)="VM.cancel()"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
