<h1>Formulario de la pelicula:</h1>
<form #miForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="form-label" for="id"><b>Código pelicula: </b></label>
      <input class="form-control" readonly="true" type="number"name="id" id="id" [(ngModel)]="VM.Elemento.id" #id="ngModel"/>
    </div>
    <div class="form-group col-md-4">
      <label class="form-label" for="titulo"><b>Título: </b></label>
      <input class="form-control" [class.is-invalid]="titulo.invalid" type="text" name="titulo" id="titulo" [(ngModel)]="VM.Elemento.titulo" #titulo="ngModel" required minduracion="2" maxduracion="50"/>
      <output class="invalid-feedback" [myShowErrors]="titulo.errors"></output>
    </div>
    <div class="form-group col-md-2">
      <label class="form-label" for="duracion"><b>Duración: </b></label>
      <input class="form-control" type="number" name="duracion" id="duracion" [(ngModel)]="VM.Elemento.duracion" #duracion="ngModel"/>
    </div>
    <div class="form-group col-md-12">
      <label class="form-label" for="rate"><b>Rate: </b></label>
      <input class="form-control" type="number" name="rate" id="rate" [(ngModel)]="VM.Elemento.rate" #rate="ngModel"/>
      <output class="invalid-feedback" [myShowErrors]="rate.errors"></output>
    </div>
    <div class="form-group col-md-12">
      <label class="form-label" for="coste"><b>Coste: </b></label>
      <input class="form-control" type="number" name="coste" id="coste" [(ngModel)]="VM.Elemento.coste" #coste="ngModel"/>
      <output class="invalid-feedback" [myShowErrors]="coste.errors"></output>
    </div>
    <div class="form-group col-md-12">
      <label class="form-label" for="idioma"><b>Idioma: </b></label>
      <!-- <input class="form-control" type="number" name="idioma" id="idioma" [(ngModel)]="VM.Elemento.idioma" #idioma="ngModel"/> -->
      <!-- <output class="invalid-feedback" [myShowErrors]="idioma.errors"></output> -->
      <select [(ngModel)]="VM.Elemento.idioma">
        <option value="">--Elige opción--</option>
        <option *ngFor="let p of VM.idiomas" [value]="p.id">{{ p.idioma }}</option>
      </select>
    </div>
    <!-- <div class="form-group col-md-12">
      <label class="form-label" for="actorespelis"><b>Actores: </b></label>
      <input class="form-control" type="text" name="actorespelis" id="actorespelis" [(ngModel)]="VM.Elemento.actorespelis" #actorespelis="ngModel"/>
      <output class="invalid-feedback" [myShowErrors]="actorespelis.errors"></output>
    </div>
    <div class="form-group col-md-12">
      <label class="form-label" for="categoriaspelis"><b>Categorias: </b></label>
      <input class="form-control" type="text" name="categoriaspelis" id="categoriaspelis" [(ngModel)]="VM.Elemento.categoriaspelis" #categoriaspelis="ngModel"/>
      <output class="invalid-feedback" [myShowErrors]="categoriaspelis.errors"></output>
    </div> -->
    <div class="form-group col-md-2">
      <label class="form-label" for="descripcion"><b>Descripción: </b></label>
      <textarea [class.is-invalid]="descripcion.invalid" type="text" name="descripcion" id="descripcion" [(ngModel)]="VM.Elemento.descripcion" #descripcion="ngModel" maxduracion="1000" rows="20" cols="160"></textarea>
      <output class="invalid-feedback" [myShowErrors]="descripcion.errors"></output>
    </div>
  </div>
  <div class="form-group">
    <br>
    <app-form-buttons (send)="VM.send()" [send-disabled]="miForm.invalid" (cancel)="VM.cancel()"></app-form-buttons>
  </div>
</form>
